<div class="products index">
    <h2>Products</h2>
    <%= link_to("Add new Product", new_product_path, :class => 'action new') %>

    <table class="listing" summary="Product list">
        <tr class='header'>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
           
            <th></th>
        </tr>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= image_tag(product.image) %></td>
            <td><%= product.name %></td>
            <td><%= simple_format(truncate(product.description, :length => 50)) %></td>
            <td><%= product.price %></td>
           
            <td class="actions">
                <%= link_to("Show", product_path(product), :class => 'action show') %>
                <%= link_to("Edit", "#", :class => 'action edit') %>
                <%= link_to("Delete", "#", :class => 'action delete') %>
            <td>
        </tr>
        <% end %>
    </table>
