<%= link_to("<< Back to List", products_path, :class => 'back-link')%>

<div class="products show">
    <h2>Show Product</h2>

    <table summary="Product detail view">
        <tr>
            <th>Name</th>
            <td><%= @product.name %></td>
        </tr>
        <tr>
            <th>Id</th>
            <td><%= @product.id %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= @product.description %></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><%= @product.price %></td>
        </tr>
        <tr>
            <th>CPU</th>
            <td><%= @product.cpu %></td>
        </tr>
        <tr>
            <th>Camera</th>
            <td><%= @product.camera %></td>
        </tr>
        <tr>
            <th>Size</th>
            <td><%= @product.size %></td>
        </tr>
        <tr>
            <th>Weight</th>
            <td><%= @product.weight %></td>
        </tr>
        <tr>
            <th>Display</th>
            <td><%= @product.display %></td>
        </tr>
        <tr>
            <th>Battery</th>
            <td><%= @product.battery %></td>
        </tr>
        <tr>
            <th>Memory</th>
            <td><%= @product.memory %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @product.created_at%></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @product.updated_at %></td>
        </tr>
    </table>
</div>
